body{
  margin:0;
  background: #000;
  text-align: center;
}

.logo-mask{
  position: fixed;
  width: 50%;
  left: 25%;
  right: 25%;
  height: 100%
}

@media only screen and (max-width: 980px) {
  .logo-mask{
    width: 70%;
    left: 15%;
    right: 15%;
  }
}


@media only screen and (max-width: 800px) {
  .logo-mask{
    width: 90%;
    left: 5%;
    right: 5%;
  }
}


.logo{
  max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
